<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Landing Page</title>
  <!-- Bootstrap and CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/landing.css" />
  <!-- For icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        crossorigin="anonymous" />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap" rel="stylesheet">
</head>
<body>
<div class="container my-3">
  <div class="row">
    <div class="col-md-3 custom-panel">
      <div class="row pt-md-3">
        <div class="col-6 col-md-12">
          <a href="/admin" id="admin-area-link" class="custom-link"><i class="fas fa-user"></i> Admin Area</a>
        </div>
        <div class="col-6 col-md-12">
          <a href="/new-ad" id="new-ad-link" class="custom-link"><i class="fas fa-plus"></i> Post New Ad</a>
        </div>
      </div>
    </div>

    <div class="col-md-9 mt-3">
      <div class="container text-center">
        <h1 style="font-family: 'Protest Riot', sans-serif;">Welcome to the Landing Page &#128151</h1>
      </div>
      <div id="ads-container"></div>
    </div>
  </div>
</div>


<script src="../javascripts/landing.js"></script>
<!-- Bootstrap JS and Font Awesome Icons -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>